$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------

$primary: #585858;

// customs

$font-size-base: 1.2rem;

$effective-green: #6aad2e;
$base-color: #585858;
$base-color-light: #787878;
$default-font-color: #ffffff;
$secondary-color: #729ce0;
$link-color: $secondary-color;
$background-color: $secondary-color;

$h3-font-size: 1.4rem;
$h4-font-size: 1.2rem;
$h5-font-size: 1.1rem;

$body-bg: #ccc;
$nav-tabs-border-color: #fff